h1 {
    color: blue;
    font-size: 40px;
}
h2 {
    color: blue;
    font-size: 30px;
}

h3 {

    color: blue;

}


.col-md-7 > img {

    float:left;
    width: 350px;
    height: 350px;
    padding: 0 10px 0 0;
}

.text {
  text-align: left;  
  padding-top: 50px;
}

.col-md-5 {
    float: right;
    width: 50%;
    padding: 15px;

}



body {
    margin: 0px;
}

.container {
    font-size: 20px;
    background-color: lightgray;
    
}    

.body_text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 500;
       
}

@media (max-width: 500px) {
    .navbar li {
      padding: 15px;
      
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: visible;
    }
  
    #nav-select {
      visibility: visible;
    }
  }


 


table {

    border: 1px solid navy;
}

th {
    text-align: center;
  }

tr:nth-child(even) {background-color: #c5b5b5;}